.chat-container {
    background-image: url('/img/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-page {
    text-align: center;
}

h1 {
    color: #f4eaea;
}

.input-container {
    margin-top: 20px;
}

.rounded-input {
    border-radius: 10px;
    padding: 10px;
    border: antiquewhite;
}

.rounded-input:focus {
    border:white;
  }

.join-button {
    background-color: #6a5fac !important;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    width:50px;
}

.join-button:hover {
    background-color: #6a72c9 !important; 
  }